    DATABASE_URL = postgresql+asyncpg://user:postgres_password@postgres:5432/soft_translations_db
    SECRET_KEY = 'soft_translations_ultra_secret_key'
    ALGORITHM = 'HS256'
    ACCESS_TOKEN_EXPIRE_MINUTES = 60